<form #createModelForm="ngForm" (ngSubmit)="createModelForm.form.valid && onSubmit()">
    <div class="form-group mb-2">
        <div class="validation-container">
            <div *ngIf="createModelForm.dirty && createModelForm.controls['name'].invalid" class="text-danger invalidValidation">
                <div *ngIf="createModelForm.controls['name'].errors?.['required']">
                    Name is required field
                </div>
                <div *ngIf="createModelForm.controls['name'].errors?.['minlength']">
                    Namer min length of 2 character
                </div>
            </div>
        </div>
        <input [(ngModel)]="modelEntity.name" maxlength="30" minlength="2" required name="name" type="text" class="form-control" placeholder="Type name">
    </div>
    <div class="form-group mb-2">
        <div class="validation-container">
            <div *ngIf="createModelForm.dirty && createModelForm.controls['productionYear'].invalid" class="text-danger invalidValidation">
                <div *ngIf="createModelForm.controls['productionYear'].errors?.['required']">
                    Production year is required field
                </div>
                <div *ngIf="createModelForm.controls['productionYear'].errors?.['max']">
                    Production year can be between 1913 and 2022
                </div>
                <div *ngIf="createModelForm.controls['productionYear'].errors?.['min']">
                    Production year can be between 1913 and 2022
                </div>
            </div>
        </div>
        <input [(ngModel)]="modelEntity.productionYear" [max]="2022" [min]="1913" required name="productionYear" type="number" class="form-control" placeholder="Type production year">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success add-button float-end">Create fridge</button>
    </div>
</form>