<div class="container pt-4">
    <div class="d-flex title-container">
        <h2>Display {{usersList.length}} users</h2>
        <div class="search-box">
            <input [(ngModel)]="usersList.username" (ngModelChange)="Search()" class="search-txt" type="text" name="fridgeSearch" placeholder="Start typing to search">
            <a class="search-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </a>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <th>№</th> 
            <th>Username</th>
            <th>Email address</th>
            <th>Role</th>
            <th>Created date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersList | paginate: {itemsPerPage: 10, currentPage: startPage}; let i=index">
                <td class="item">{{i + 1}}</td>
                <td class="item">{{user.username}}</td>
                <td class="item">{{user.emailAddress}}</td>
                <td class="item">{{user.role}}</td>
                <td class="item">{{user.createdDate}}</td>
                <td class="item">
                    <a class="btn btn-warning button-container" data-bs-toggle="modal" data-bs-target="#getRole" (click)="modalEditOpen(user)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
                        Change role
                    </a>
                    <a class="btn btn-warning button-container" data-bs-toggle="modal" data-bs-target="#resetPassword" (click)="modalEditOpen(user)">
                        Reset password
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination-container">
    <pagination-controls (pageChange)="startPage = $event"></pagination-controls>
</div>

<!-- Modal for update product-->
<div class="modal fade" id="getRole" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="staticBackdropLabel">Change role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="change-role-modal-close" (click)="modalClose()"></button>
            </div>
            <div class="modal-body">
                <app-change-role [user]="user" *ngIf="activateModalComponent"></app-change-role>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Reset -->
<div class="modal fade" id="resetPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="staticBackdropLabel">Reset Password</h5>
                <button type="button" class="btn-close" id="reset-password-modal-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalClose()"></button>
            </div>
            <div class="modal-body">
                <app-reset-password [user]="user" *ngIf="activateModalComponent"></app-reset-password>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>