<section class="register-content">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                            <!-- Register form -->
                            <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && registerUser() && registerForm.value.password == repeatPassword" class="mx-1 mx-md-4">
                               
                                <!-- Username field -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <div class="validation-container">
                                            <div class="text-danger invalidValidation" *ngIf="registerForm.dirty && registerForm.controls['username'].invalid">
                                                <div *ngIf="registerForm.controls['username'].errors?.['required']">
                                                    Name is required field!
                                                </div>
                                                <div *ngIf="registerForm.controls['username'].errors?.['minlength']">
                                                    Name min length of 3 character
                                                </div>
                                            </div>
                                        </div>
                                        <input [(ngModel)]="user.username" maxlength="30" minlength="3" required name="username" type="text" class="form-control" placeholder="Your Name"/>
                                    </div>
                                </div>

                                <!-- Email Address field -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <div class="validation-container">
                                            <div class="text-danger invalidValidation" *ngIf="registerForm.dirty && registerForm.controls['emailAddress'].invalid">
                                                <div *ngIf="registerForm.controls['emailAddress'].errors?.['required']">
                                                    Email is required field!
                                                </div>
                                                <div *ngIf="registerForm.controls['emailAddress'].errors?.['pattern']">
                                                    Incorrect email format
                                                </div>
                                            </div>
                                        </div>
                                        <input [(ngModel)]="user.emailAddress" maxlength="30" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="emailAddress" type="email" class="form-control" placeholder="Enter Email"/>
                                    </div>
                                </div>

                                <!-- Password field -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <div class="validation-container">
                                            <div class="text-danger invalidValidation" *ngIf="registerForm.dirty && registerForm.controls['password'].invalid">
                                                <div *ngIf="registerForm.controls['password'].errors?.['required']">
                                                    Password is required field!
                                                </div>
                                                <div *ngIf="registerForm.controls['password'].errors?.['minlength']">
                                                    Password min length of 8 character
                                                </div>
                                            </div>
                                        </div>
                                        <input required maxlength="30" minlength="8" [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="Password"/>
                                    </div>
                                </div>

                                <!-- Password Repeate field -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <div class="validation-container">
                                            <div class="text-danger invalidValidation" *ngIf="registerForm.dirty">
                                                <div *ngIf="registerForm.value.password != repeatPassword">
                                                    Passwords must match
                                                </div>
                                            </div>
                                        </div>
                                        <input required [(ngModel)]="repeatPassword" maxlength="30" name="repeatPassword" type="password" class="form-control" placeholder="Repeat Password"/>
                                    </div>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                    <label class="form-check-label" for="form2Example3">I agree all statements in 
                                        <a href="#!" class="termsLink">Terms of service</a>
                                    </label>
                                </div>
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                </div>
                                <p class="haveAccount text-center text-muted mt-5 mb-0">Have already an account?
                                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="loginLink"> Login here</a>
                                </p>
                            </form>
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <app-footer></app-footer>
</div>
