<form #createForm="ngForm" (ngSubmit)="createForm.form.valid && onSubmit()">
    <div class="form-group mb-2">
        <div class="validation-container">
            <div *ngIf="createForm.dirty && createForm.controls['role'].invalid" class="text-danger invalidValidation">
                <div *ngIf="createForm.controls['role'].errors?.['required']">
                    Role is required field
                </div>
                <div *ngIf="createForm.controls['role'].errors?.['minlength']">
                    Role min length of 2 character
                </div>
            </div>
        </div>
        <input [(ngModel)]="roleEntity.role" maxlength="30" minlength="2" required name="role" type="text" class="form-control" placeholder="Type role">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success add-button float-end">Edit role</button>
    </div>
</form>